:root {
    --primary: #0075bf;
}

.h5::after {
    content: '';
    height: 30px;
    width: 3px;
    background: linear-gradient(to right, #ef1262, #4361ee);
    position: absolute;
    left: -24px;
    top: -2px;
    border-radius: 0 3px 3px 0;
}

/* Breadcrumb */
.ant-breadcrumb-link .active {
    color: inherit;
}

.ant-breadcrumb-link .active:hover {
    background-color: transparent !important;
}

/* Table */
.ant-table-tbody > tr > td {
    padding: 0px 8px !important;
}

.ant-table-thead .ant-table-cell {
    background: #557af3 !important;
    color: #ffffff !important;
    letter-spacing: 1px !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    text-align: center !important;
    text-transform: uppercase !important;
}

tr:nth-child(odd) > td.ant-table-cell-fix-left,
tr:nth-child(odd) > td.ant-table-cell-fix-right,
.ant-table-tbody .ant-table-row:nth-child(odd) {
    background-color: #d8e2fe !important;
}
tr:nth-child(even) > td.ant-table-cell-fix-left,
tr:nth-child(even) > td.ant-table-cell-fix-right,
.ant-table-tbody .ant-table-row:nth-child(even) {
    background-color: #ffffff !important;
}

td.ant-table-column-sort {
    background: unset !important;
}

.table-expand-custom .ant-table-tbody > tr > td {
    padding: 16px !important;
}

#table-expand .ant-table-tbody > tr > td {
    padding: 0px !important;
}

.ant-table-wrapper .ant-table-column-sorter {
    margin-inline-start: 4px;
    color: #fefefe !important;
    font-size: 0;
    transition: color 0.3s;
}

/* Form */

.ant-form-item .ant-form-item-explain-error {
    color: red;
}

.ant-form-item .ant-form-item-label > label::after {
    content: '';
    position: relative;
    margin-block: 0;
    margin-inline-start: 2px;
    margin-inline-end: 8px;
    color: #ff0004 !important;
}

.no-margin-form {
    margin-bottom: 0px !important;
}

.ant-form-vertical .ant-form-item:not(.ant-form-item-horizontal) .ant-form-item-label > label::after {
    visibility: inherit;
}

/* Swal */
.swal2-popup .swal2-title:where([dir='ltr'], [dir='ltr'] *) {
    padding-right: 0px !important;
}

.swal2-popup .swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 4px;
    background: linear-gradient(180deg, rgb(94, 136, 252) 0%, rgb(38, 78, 134) 100%);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.swal2-actions:not(.swal2-loading) .swal2-styled:hover {
    background: linear-gradient(180deg, rgb(94, 136, 252) 0%, rgb(38, 78, 134) 100%) !important;
    box-shadow: 0px 4px 4px #00000040 !important;
}

.swal2-popup .swal2-title {
    display: block;
    margin: 0px !important;
    width: 100%;
    color: #343c6a;
    font-size: 24px;
    font-weight: 600;
}

.swal2-icon.swal2-success .swal2-success-ring {
    top: -2px !important;
    left: -2px !important;
    color: #4361ee !important;
    border: 4px solid #f1f2f3 !important;
    box-shadow: 0 3px 25px #805dca33;
    text-align: center;
}

.swal2-actions {
    gap: 8px;
}

.swal2-icon .swal2-icon-content {
    display: flex !important;
    align-items: center !important;
    font-size: 3.75em !important;
}

/* Sidebar */
.ant-menu-light .ant-menu-submenu-active span {
    pointer-events: none !important;
}

.ant-menu-submenu-selected .ant-menu-title-content .active {
    pointer-events: none !important;
}

.ant-menu-light .ant-menu-item-selected {
    color: #fefefe;
    border-radius: 8px;
    background: #557af3 !important;
}

.ant-menu-light .ant-menu-item-selected svg,
.ant-menu-light .ant-menu-item-selected span {
    color: #fefefe;
}

.ant-menu .ant-menu-item-group-title {
    color: #343c6a;
    font-weight: 700;
}

.ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title {
    color: #fefefe;
    background: #557af3 !important;
}

.ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title svg,
.ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title span {
    color: #fefefe;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.ant-menu-title-content {
    padding: 8px;
}

.ant-menu-submenu-title span {
    padding: 8px;
}

.ant-menu-item span {
    color: #343c6a;
}

.ant-menu-submenu span {
    color: #343c6a;
}

.ant-menu svg {
    color: #557af3;
}

.ant-menu-inline.ant-menu-root .ant-menu-item > .ant-menu-title-content,
:where(.css-dev-only-do-not-override-3rel02).ant-menu-inline.ant-menu-root .ant-menu-submenu-title > .ant-menu-title-content {
    flex: auto;
    min-width: 0;
    overflow: hidden;
    text-overflow: unset;
}

/* Modal */
.ant-modal .ant-modal-title {
    margin: 0;
    color: #343c6a;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

.ant-modal-body {
    padding: 0px !important;
}
.ant-modal-content {
    height: auto !important;
    border-radius: 5px;
}
.ant-modal-footer {
    border-top: 0px !important;
}

/* Button */
.ant-btn-default.ant-btn-dangerous:not(:disabled):not(.ant-btn-disabled):hover {
    color: rgb(255 255 255 / var(--tw-text-opacity));
    border-color: rgb(231 81 90 / var(--tw-border-opacity));
    background: rgb(231 81 90 / var(--tw-bg-opacity));
}

.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
    background: linear-gradient(180deg, rgb(94, 136, 252) 0%, rgb(38, 78, 134) 100%);
    box-shadow: 0px 4px 4px #00000040;
}

/* Input */
.ant-input-outlined:hover {
    border-color: #557af3;
    background-color: #ffffff;
}

.ant-input-outlined {
    background: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #e0e6ed;
}

/* Notification */

.ant-notification .ant-notification-notice-wrapper {
    position: relative;
    margin-bottom: 16px;
    margin-inline-start: auto;
    background: rgb(59 63 92 / var(--tw-bg-opacity));
    border-radius: 8px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.ant-notification .ant-notification-notice-wrapper .ant-notification-notice-message {
    margin-bottom: 8px;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
}

.ant-notification .ant-notification-notice-wrapper .ant-notification-notice-close {
    color: #ffffff;
}

/* Radio Button */
.ant-radio-button-wrapper > .ant-radio-button {
    background: transparent;
    border-color: #0075bf !important;
    border-width: 1px;
}

.ant-radio-button-wrapper {
    height: auto !important;
    border-radius: 5px !important;
    padding: 0px 15px !important;
    background: transparent !important;
    border-color: #0075bf !important;
    border-width: 1px !important;
    color: #0075bf !important;
}

.ant-radio-button {
    border-radius: 5px;
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    color: #0075bf;
    border-color: #0075bf;
    border-width: 1px;
}

.ant-radio-button-wrapper:not(:first-child):before {
    background-color: transparent !important;
    transition: background-color 0.3s;
    content: '';
    color: #0075bf !important;
    border-width: 1px;
}

.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    color: #f8f9fa !important;
    background: #0075bf !important;
    border-width: 1px;
}

.ant-radio-button-wrapper-disabled {
    color: #4b465c !important;
    background-color: #8d91a0 !important;
}

.ant-radio-group > .ant-badge:not(:first-child) > .ant-radio-button-wrapper {
    border-left: 1px solid #0075bf !important;
}

.tab-full .ant-radio-button-wrapper {
    text-align: center;
    width: 100%;
}

/* Select */
.ant-select-item-option:hover {
    background-color: #f3f5f9 !important;
}

.ant-select-selection-overflow-item {
    color: #f3f5f9;
    background: transparent;
}

.ant-select-selection-item {
    color: rgb(29.4, 27.5, 36.1, 60%) !important;
}

.ant-select-selection-overflow-item .ant-select-selection-item,
.ant-select-selection-item-remove {
    background-color: #557af3 !important;
    color: white !important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: #fff;
}
.ant-select-arrow {
    color: #4b465c !important;
}

.ant-select-item-option:hover {
    background-color: #f3f5f9 !important;
}
.ant-select-item-option-selected {
    background-color: #f3f5f9 !important;
    color: #000000 !important;
}

.ant-select-item-option-selected:hover {
    background-color: #f3f5f9 !important;
    color: #000000 !important;
}

/* Space */
.ant-space-compact {
    display: flex;
}
/* Organization Chart */
.orgchart-container {
    box-sizing: border-box !important;
    position: relative !important;
    margin: 0px !important;
    height: auto !important;
    background-color: #fff !important;
    border: none !important;
    border-radius: 5px !important;
    overflow: auto !important;
    text-align: center !important;
}

.orgchart {
    box-sizing: border-box !important;
    display: inline-block !important;
    background-image: none !important;
    background-size: 10px 10px !important;
    border: none !important;
    padding: 0px !important;
}

/* Upload */
.ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload.ant-upload-select {
    width: 102px;
    height: 102px;
    text-align: center;
    vertical-align: top;
    background-color: rgba(0, 0, 0, 0.02);
    background-image: url('../src/assets/picture/user.png');
    background-size: cover;
    background-position: center;
    border: 2px solid #264e86;
    cursor: pointer;
    transition: border-color 0.3s;
}

/* Chart */
.cards-container {
    overflow-x: auto;
    padding: 20px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tree-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}
.tree-level {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.tree-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 180px;
}
.tree-label p {
    margin: 5px 0;
}

.employee-name {
    font-weight: bold;
    color: #333;
    font-size: 1.1rem;
}

.employee-position {
    color: #555;
    font-size: 0.95rem;
}

.employee-department {
    font-style: italic;
    color: #888;
    font-size: 0.9rem;
}

.company-label {
    font-size: 1.3rem;
    font-weight: bold;
    color: #333;
    padding: 15px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media (max-width: 600px) {
    .tree-label {
        min-width: 120px;
    }

    .tree-level {
        gap: 15px;
    }
}
